.env
.env.*
.vscode
.venv

htmlcov/
dist/
build/
docs/build
.ipynb_checkpoints
.eggs
.tox
*egg-info
*__pycache__
.pytest_cache
.cache
coverage.xml
.coverage
test.py
pip-wheel-metadata
.python-version
.idea*