.env
.vscode
.venv

dist/
build/
docs/build
.ipynb_checkpoints
.eggs
.tox
*egg-info
*__pycache__
*.pyc
.pytest_cache
.cache
coverage.xml
.coverage
test.py
.python-version
.mypy_cache
