pytest
pytest-cov
coveralls
requests-mock
flake8
mock
tox-travis

sphinx
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinx-autoapi
sphinxext.opengraph
revitron-sphinx-theme @ git+https://github.com/gtalarico/revitron-sphinx-theme.git@3f402dea649265609fe42023771c9844959f2e4d
sphinx-autodoc-typehints

wheel
twine

# Only installed in environments that can handle it; don't try running the `lint`
# tox environment on Python < 3.6.
black  ; python_version >="3.6"
