# Docs
Sphinx==4.1.2
sphinx-autoapi==1.7.0
sphinxext-opengraph==0.4.2
revitron-sphinx-theme @ git+https://github.com/gtalarico/revitron-sphinx-theme.git@40f4b09fa5c199e3844153ef973a1155a56981dd
sphinx-autodoc-typehints==1.12.0

# Packaging
wheel==0.36.2
twine==3.3.0
build==0.6.0.post1

# Formatting, Linting
flake8==3.8.4
# Only installed in environments that can handle it; don't try running the `lint`
# tox environment on Python < 3.6.
black  ; python_version >="3.6"
# mypy
types-requests==2.25.0
mypy==0.910
