alabaster==0.7.10
Babel==2.4.0
certifi==2017.7.27.1
chardet==3.0.4
colorama==0.3.9
coverage==4.4.1
docutils==0.14
idna==2.5
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
pockets==0.5.1
py==1.4.34
Pygments==2.2.0
pytest==3.2.0
pytest-cov==2.5.1
pytest-ordering==0.5
pytz==2017.2
requests==2.18.3
requests-mock==1.3.0
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-napoleon==0.6.1
sphinxcontrib-websupport==1.0.1
urllib3==1.22
