
.landing .headerlink:after {
	display: none !important;
}

pre, code {
	tab-size: 4 !important;
}

/* body {
    color: #f00 !important;
} */

.k, .kc, .kd, .kn, .kp, .kr, .kt {
	color: #a75c77 !important
}

.l, .ld, .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
	color: #a2a084 !important
}

.wy-side-nav-search .brand>a img.logo {
	/* height: 5rem !important; */
	/* max-height: 5rem !important; */
}

.rst-content table.docutils caption, .rst-content table.field-list caption, .wy-table caption {
    color: #000;
    font: italic 85%/1 arial,sans-serif;
    padding: 1em 0;
    text-align: left !important;
}
